.header-filtro {
  grid-template-columns: 43% 57%;
}
.header-filtro a img {
  float: left;
  height: 6.4vw;
}
.header-filtro h2 {
  color: #fff;
}
.container-filtro {
  padding: 20vw 10vw;
  width: 100%;
  height: 100vh;
  background-color: #bcbcbc;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  color: #ff6f00;
}
.container-filtro h2 {
  grid-column-end: span 2;
  color: #000;
  margin-top: 5%;
}
.container-filtro input {
  grid-column-end: span 2;
}
.container-filtro p {
  grid-column-end: span 2;
  margin: 3% 0;
}
.container-filtro button {
  grid-column-end: span 2;
  width: 40vw;
  height: 10vw;
  color: #ff6f00;
  border-radius: 5vw;
  border: none;
  box-shadow: 1px 1px 1px #888;
}
.container-filtro .item {
  background-color: #fff;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: relative;
  box-shadow: 2px 2px 2px #888;
  margin-top: 5%;
}
.container-filtro .item img {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.container-filtro .item h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -40%);
}
.container-filtro .porte-grid {
  grid-column-end: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.container-filtro .porte-grid div {
  width: 20vw;
  height: 20vw;
  margin: 0 5%;
}
.container-filtro .porte-grid div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-filtro .porte-grid div #pequena {
  width: 40%;
}
.container-filtro .porte-grid div #media {
  width: 50%;
}
.container-filtro .porte-grid div #grande {
  width: 60%;
}
.container-filtro .porte-grid h2 {
  grid-column-end: span 3;
}
.container-filtro .selected {
  background-color: #ffe082;
}
.loginContainer {
  padding-top: 80px;
}
h1.login {
  font-size: 30px;
  color: #ff6f00;
  text-align: center;
}
img.loginbtn {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.signupContainer {
  margin-top: 40px;
}
.signupContainer p {
  text-align: center;
}
.signupContainer h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  color: #ff6f00;
}
.cadastrarAnimalContainer {
  margin-top: 80px;
}
.cadastrarAnimalContainer a {
  width: 70%;
  display: block;
  margin-left: 15%;
  background-color: #ff6f00;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.cadastrarAnimalContainer p {
  text-align: center;
  margin-top: 10px;
  color: #777;
}
.especie-wrapper,
.sexo-wrapper,
.porte-wrapper,
.castrado-wrapper,
.vacinado-wrapper {
  margin-top: 30px;
  border: #ff6f00 3px solid;
  width: 80%;
  margin-left: 10%;
}
.especie,
.sexo,
.porte,
.castrado,
.vacinado {
  display: inline-block;
  width: 49%;
  padding: 5px;
  text-align: center;
  margin-left: 0px;
  color: #888;
}
.especie.active,
.sexo.active,
.castrado.active,
.vacinado.active {
  background: #ff6f00;
  color: #fff;
  width: 49.5%;
}
.porte {
  width: 32%;
}
.porte.active {
  width: 32%;
  background: #ff6f00;
  color: #fff;
}
.necessidades-wrapper p {
  font-size: 15px;
  color: #555;
}
.necessidades-wrapper textarea {
  border: 3px #ff6f00 solid;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
}
.cor-wrapper p {
  font-size: 15px;
  color: #555;
}
.cor-wrapper textarea {
  border: 3px #ff6f00 solid;
  width: 80%;
  margin-left: 10%;
}
.submeter {
  margin-top: 20px;
  margin-bottom: 50px;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 4.27vw;
  font-family: "Roboto", 'sans-serif';
}
header {
  width: 100%;
  height: 15vw;
  background-color: #ff6f00;
  padding: 0 5vw 0 5vw;
  position: absolute;
  top: 0;
  box-shadow: 2px 2px 5px #888;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  z-index: 1;
}
header h1 {
  color: #fff;
  font-size: 2rem;
}
header a {
  color: #fff;
  text-decoration: none;
}
.principal {
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 0;
  background-image: url("../img/fundoMain.jpeg");
  background-attachment: fixed;
  background-size: auto 100%;
  background-position-x: -150px;
}
.principal .container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(5,5,5,0.7);
  padding-top: 50vw;
  text-align: center;
}
.principal .container h2 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 5vw;
}
.principal .container h3 {
  color: #fff;
  margin-bottom: 5vw;
  font-weight: bold;
}
.principal .container a.adotarBtn {
  display: block;
  width: 80%;
  height: 60px;
  margin-left: 10%;
  padding: 16px 20px;
  margin-top: 20px;
  color: #ff6f00;
  background: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 2px #808080;
  font-weight: bold;
}
.principal .container a.cadastrarBtn {
  display: block;
  width: 80%;
  margin-left: 10%;
  padding: 10px 20px;
  margin-top: 20px;
  color: #ff6f00;
  background: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 2px #808080;
  font-weight: bold;
}
