* {
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
  color: #808080;
}
.cadastroAnimalContainer {
  display: grid;
  font-size: 20px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  padding: 20px;
  padding-top: 90px;
}
.cadastroAnimalFoto {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 5px;
}
.cadastroAnimalInformacoes {
  display: grid;
  font-size: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  padding: 20px;
}
.cadastroAnimalInformacoes .grid-1 {
  grid-column: 1;
  grid-row: 1;
  float: left;
  text-align: left;
}
.cadastroAnimalInformacoes .grid-1 p {
  font-size: 17px;
  margin: 15px;
}
.cadastroAnimalInformacoes .grid-1 b {
  color: #424242;
  font-size: 15px;
}
.cadastroAnimalInformacoes .grid-2 {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  float: right;
}
.cadastroAnimalInformacoes .grid-2 p {
  font-size: 17px;
  margin: 15px;
}
.cadastroAnimalInformacoes .grid-2 b {
  color: #424242;
  font-size: 15px;
}
.cadastroAnimalInformacoes .grid-3 {
  grid-column-end: span 2;
}
.cadastroAnimalInformacoes .grid-3 b {
  text-align: center;
  color: #424242;
  font-size: 15px;
}
.cadastroAnimalInformacoes .grid-3 p {
  font-size: 17px;
  text-align: justify;
  margin-top: 5px;
}
button.perfilAnimal {
  background-color: #ff6f00;
  width: 50%;
  margin-left: 25%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 2px #808080;
}
.loginContainer {
  padding-top: 80px;
}
h1.login {
  font-size: 30px;
  color: #ff6f00;
  text-align: center;
}
img.loginbtn {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}
.signupContainer {
  margin-top: 40px;
}
.signupContainer p {
  text-align: center;
}
.signupContainer h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  color: #ff6f00;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 4.27vw;
  font-family: "Roboto", 'sans-serif';
}
header {
  width: 100%;
  height: 15vw;
  background-color: #ff6f00;
  padding: 0 5vw 0 5vw;
  position: absolute;
  top: 0;
  box-shadow: 2px 2px 5px #888;
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  z-index: 1;
}
header h1 {
  color: #fff;
  font-size: 2rem;
}
header a {
  color: #fff;
  text-decoration: none;
}
.principal {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #acbabc;
  z-index: 0;
}
.principal .container {
  width: 100vw;
  padding-top: 50vw;
}
.principal .container h2 {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 5vw;
}
.principal .container h3 {
  color: #fff;
  margin-bottom: 5vw;
}
.principal .container button {
  width: 70vw;
  height: 20vw;
  color: #ff6f00;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-top: 5vw;
  margin-bottom: 5vw;
  border: none;
  box-shadow: 1px 1px 2px #808080;
}
.principal .container p {
  color: #fff;
}
.principal .container a {
  text-decoration: none;
  color: #ff6f00;
}
footer {
  width: 100%;
  height: 15vw;
  background-color: rgba(255,255,255,0.4);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 1;
  color: #fff;
}
footer .indexfooter {
  position: absolute;
  bottom: 0;
}
