.cadastrarAnimalContainer
    margin-top 80px
    a
        width: 70%
        display: block
        margin-left: 15%
        background-color: #FF6F00
        padding 10px
        text-align: center
        color white
        font-size 18px
    p
        text-align center
        margin-top 10px
        color #777



.especie-wrapper, .sexo-wrapper, .porte-wrapper, .castrado-wrapper, .vacinado-wrapper
    margin-top 30px
    border: #FF6F00 3px solid
    width 80%
    margin-left: 10%

.especie, .sexo, .porte, .castrado, .vacinado
    display: inline-block
    width: 49%
    padding: 5px
    text-align: center
    margin-left: 0px
    color #888

.especie.active, .sexo.active, .castrado.active, .vacinado.active
    background: #FF6F00
    color white
    width: 49.5%

.porte
    width 32%

.porte.active
    width 32%
    background: #FF6F00
    color white

.necessidades-wrapper
    p
        font-size 15px
        color #555
    textarea
        border: 3px #FF6F00 solid
        width: 80%
        margin-left 10%
        margin-top 10px    

.cor-wrapper
    p
        font-size 15px
        color #555
    textarea
        border: 3px #FF6F00 solid
        width: 80%
        margin-left 10%
    

.submeter
    margin-top 20px
    margin-bottom 50px