.dashboardContainer
    margin-top 80px
    h1
        font-size 20px
        text-align center
        color #FF6F00
        margin-top 20px
    table
        margin-top 10px
        border-collapse: collapse
        font-weight: bold
        width 100%
    .cabecalho
        background: #AAA 
    td 
        text-align center
        padding 10px
        margin 0
        background-color #CCC
        font-weight: bolder
        color #555

    a
        width: 80%
        margin-left 10%
        margin-top 20px
        background-color #FF6F00
        color: white
        display block
        text-align center
        padding 10px 15px
        font-size 20px
        text-decoration: none