.loginContainer
    padding-top 80px


h1.login
    font-size 30px
    color: #FF6F00
    text-align center

img.loginbtn
    width 80%
    margin-left 10%
    margin-top 20px    

.signupContainer
    margin-top 40px
    p
        text-align center
    h1
        margin-top 10px
        text-align center   
        font-size 30px
        color: #FF6F00 